<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yichen.procrasinationX"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="13" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- no effect seen from above 2 uses-permission-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    
    
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />    

    <application
        android:name="com.yichen.procrasinationX.SmartPad"
        android:icon="@drawable/clock"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        <activity
            android:name="com.yichen.procrasinationX.login.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
  
        
        <receiver android:name="com.yichen.procrasinationX.alarmclock.AlarmManagerHelper" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:name="com.yichen.procrasinationX.login.SignUpActivity"></activity>
        <activity android:name="com.yichen.procrasinationX.AuthActivity"></activity>
        <activity 
                   android:name="com.yichen.procrasinationX.MainActivity"
            		  android:launchMode="singleTop">
                   <!-- android:uiOptions="splitActionBarWhenNarrow" --> 
                    <!--  <meta-data android:name="android.support.UI_OPTIONS"
                                 android:value="splitActionBarWhenNarrow" /> -->
                     <!-- above 2 entries would move action bar to the bottom -->            
                        <meta-data          
                            android:name="android.app.searchable"
                                 android:resource="@xml/searchable" />
        </activity>
        <!-- new added for search -->
        <activity android:name=".SearchableActivity" >
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:mimeType="text/plain"/>
        </intent-filter>
        <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
    </activity>
        <activity android:name="com.yichen.procrasinationX.BrowseActivity"></activity>
        <activity android:name="com.yichen.procrasinationX.Help"></activity>
        <activity android:name="com.yichen.procrasinationX.AudioActivity"></activity>
        <activity android:name="com.yichen.procrasinationX.ManageActivity"></activity>
        <activity android:name="com.yichen.procrasinationX.SettingsActivity"></activity>
        <activity android:name="com.yichen.procrasinationX.CountdownActivity"></activity>
        <activity android:name="com.yichen.procrasinationX.note.BaseActivity"></activity>
        <activity android:name="com.yichen.procrasinationX.note.BasicActivity" android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name="com.yichen.procrasinationX.note.ChecklistActivity" android:windowSoftInputMode="stateHidden"></activity>
		<activity android:name="com.yichen.procrasinationX.note.SnapshotActivity" android:windowSoftInputMode="stateHidden"></activity>
		<activity android:name="com.yichen.procrasinationX.note.PhotoActivity" android:windowSoftInputMode="stateHidden"></activity>
		
        <activity android:name="com.yichen.procrasinationX.paint.FingerActivity"></activity>
        <activity android:name="com.yichen.procrasinationX.alarmmanager.AlarmManagerActivity"></activity>
        <activity android:name="com.yichen.procrasinationX.voicerecognition.VoiceRecognitionActivity"></activity>
        <activity android:name="com.yichen.procrasinationX.alarmclock.AlarmListActivity" />
        <activity android:name="com.yichen.procrasinationX.alarmclock.AlarmScreen" />
        <activity android:name="com.yichen.procrasinationX.alarmclock.AlarmDetailsActivity" />

        <service android:name="com.yichen.procrasinationX.alarmclock.AlarmService" 
            android:enabled="true"/>
        
        <receiver android:name="com.yichen.procrasinationX.alarmclock.AlarmManagerHelper" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
		
    </application>
    

</manifest>